body{
  background-image: url("bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
.text-center{
  font-size: 50px;
  padding: 50px;
  padding-top: 50px;
  color: #20ad6b;
  text-align: left;
  
  
}

.h{
  text-shadow: 5px 5px black;
}
.button {
  background-color: #319463; 
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
 
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #515153;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
