.unit-container {
    display: flex;
    justify-content: space-around;
}

.unit-column {
    flex: 0 0 45%;
}

.unit {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}